@{
    ViewBag.Title = "角色管理";

}

@section styles{

}
@section scripts{

    <script src="~/js/base/jquery.table.js"></script>
    <script type="text/html" id="toolbarTemplate">

        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="auth">权限设置</a>

        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>

        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
    </script>
    <script type="text/html" id="createOnTemplate">
        {{ d.CreateOn.toDate().format('yyyy-MM-dd HH:mm') }}
    </script>
    <script type="text/html" id="updateOnTemplate">
        {{ d.UpdateOn.toDate().format('yyyy-MM-dd HH:mm') }}
    </script>

    <script>
        $(function () {
            $('#form_search').find('input').keydown(function (e) {
                if (e.keyCode == 13) {

                    $('*[banana-cmd="search"]').trigger('click');
                    e.preventDefault();
                }
            });
        })
    </script>
}

<blockquote class="layui-elem-quote">
    <form class="layui-form" method="post" id="form_search">

        <div class="layui-inline">
            <label class="layui-form-label">角色名称：</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="keyword" id="keyword" autocomplete="off" />
            </div>
        </div>

        <div style="float:right;">
            <div class="layui-btn-group">
                <button type="button" class="layui-btn" banana-cmd="search" style="margin-left:15px;">搜索</button>

                <button type="button" class="layui-btn" banana-cmd="create">新建</button>

                <button type="button" class="layui-btn layui-btn-danger" banana-cmd="delete">删除</button>
            </div>
        </div>
    </form>
</blockquote>
<div id="table_container"></div>
<script>
    $(function () {
        $('#table_container').table({
            url: '/sysrole/getpage/'
            , cols: [[
                { type: 'checkbox', fixed: 'left' }
                , { field: 'Name', title: '角色名称', sort: true }
                , { field: 'Remark', title: '备注' }
                , { field: 'CreateOn', title: '创建时间', sort: true, width: 150, templet: '#createOnTemplate' }
                , { field: 'UpdateOn', title: '更新时间', sort: true, width: 150, templet: '#updateOnTemplate' }

                , { fixed: 'right', title: '操作', width: 200, align: 'left', toolbar: '#toolbarTemplate' }
            ]]
            , initSort: {
                field: 'CreateOn' //排序字段，对应 cols 设定的各字段名
                , type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
            , where: { //配合initSort使用
                sort: 'CreateOn'
                , order: 'desc'
            }
            , complete: function (e) {
                var table = e.table;
                var events = {
                    'search': function () {
                        e.target.reload({
                            page: { curr: 1 }
                            , where: $('form:first').serializeObject()
                        });
                    }
                    , 'create': function () {
                        banana.controls.open({
                            title: '新建',
                            area: ['500px', '250px'],
                            content: '/sysrole/edit'
                            , btn: ['提交', '取消']
                            , yes: function (index, target) {
                                banana.helper.invokeFunction($(arguments[1][0]).find('iframe')[0].contentWindow['submit'], function (res) {
                                    debugger
                                    if (res.Success) {
                                        banana.controls.msg('操作成功');
                                        banana.controls.close(index);
                                        events.search(); //手动调用搜索，重新加载表格
                                    } else {
                                        banana.controls.alert(res.Message);
                                    }
                                });
                            }
                        });
                    }
                    , 'delete': function () {
                        var ids = e.getIds();
                        if (ids.length == 0) {
                            banana.controls.msg('请先选择数据项');
                            return;
                        }
                        banana.controls.confirm('确认删除这' + ids.length + '项记录吗？', function () {
                            banana.helper.ajax({
                                url: '/sysrole/delete'
                                , data: { ids: ids }
                                , success: function (res) {
                                    if (res.Success) {
                                        banana.controls.msg('操作成功');
                                        e.refresh();
                                    } else {
                                        banana.controls.alert(res.Message);
                                    }
                                }
                            });
                        });
                    }
                };
                banana.on(function (e) {
                    banana.helper.invokeFunction(events[e.cmd]);
                });
            }
            , on: function (e) {
                switch (e.cmd) {
                    case 'sort':
                        e.refresh({ initSort: e.args });
                        break;
                    case 'tool':
                        var id = e.args.data.Id;
                        switch (e.args.event) {
                            case 'delete':
                                banana.controls.confirm('确认删除吗？', function () {
                                    banana.helper.ajax({
                                        url: '/sysrole/delete'
                                        , data: { ids: [id] }
                                        , success: function (res) {
                                            if (res.Success) {
                                                banana.controls.msg('操作成功');
                                                e.refresh();
                                            } else {
                                                banana.controls.alert(res.Message);
                                            }
                                        }
                                    });
                                });
                                break;
                            case 'edit':
                                banana.controls.open({
                                    title: '编辑',
                                    area: ['500px', '250px'],
                                    content: '/sysrole/edit?id=' + id
                                    , btn: ['提交', '取消']
                                    , yes: function (index, target) {
                                        debugger
                                        banana.helper.invokeFunction($(arguments[1][0]).find('iframe')[0].contentWindow['submit'], function (res) {
                                            if (res.Success) {
                                                banana.controls.msg('操作成功');
                                                banana.controls.close(index);
                                                e.refresh();
                                            } else {
                                                banana.controls.alert(res.Message);
                                            }
                                        });
                                    }
                                });
                                break;
                            case 'auth':
                                banana.controls.open({
                                    title: '权限设置',
                                    area: ['500px', '90%'],
                                    content: '/sysrole/menutree?roleId=' + e.args.data.Id
                                    , btn: ['提交', '取消']
                                    , yes: function (index, target) {
                                        banana.helper.invokeFunction($(arguments[1][0]).find('iframe')[0].contentWindow['submit'], function (res) {
                                            if (res.Success) {
                                                banana.controls.msg('操作成功');
                                                banana.controls.close(index);
                                            } else {
                                                banana.controls.alert(res.Message);
                                            }
                                        });
                                    }
                                });
                                break;
                        }
                        break;
                }
            }
        });
    });
</script>