@model GR.Entity.SysUser
@{

    ViewBag.Title = "重置密码";
    ViewBag.IsForm = true; //表示该页面为表单页，需要从模版加载jquery.form.js/jquery.validate.js等类库

}
@section styles{
    <link href="/lib/select/css/select2.css" rel="stylesheet" />
    <style>
        .layui-col-xs7 {
            float: none;
        }

        #combobox_department-error {
            position: absolute;
            top: 36px;
        }

        .select2-container {
            width: 182px !important;
        }
    </style>
}
@section scripts{

    <script type="text/javascript">
        $(function () {
            var $form = $('form');
            $form.validate({
                errorElement: 'div'
                , errorClass: 'valid-block'
                , focusInvalid: true
                , rules: {
                    //'oldpassword': {
                    //    required: true
                    //    , minlength: 6
                    //    , notspace: true
                    //},
                    'newpassword': {
                        required: true
                        , minlength: 6
                        , notspace: true
                    }
                }
                , messages: {}
                , success: function (e) { $(e).remove(); }
                , errorPlacement: function (error, element) { error.insertAfter(element); }
                , highlight: function (e) { $(e).closest('.valid-block').addClass('has-error'); }
            });

            window.submit = function (callback) {
                if ($form.valid()) {
                    $form.ajaxSubmit(function (res) {
                        banana.helper.invokeFunction(callback, res);
                    });
                }
            };
        });
    </script>
}
<form class="layui-form" action="/sysusers/ChangePassword" method="post" style="margin-top: 20px;">
    <input type="hidden" name="id" value="@(Model.Id)" />
    <div class="layui-row">

        <div class="layui-form-item">
            <label class="layui-form-label required">账户名</label>
            <div class="layui-inline">
                <input type="text" readonly
                       name="Name"
                       autocomplete="off"
                       class="layui-input layui-form-danger "
                       value="@(Model.Name)" />
            </div>
        </div>
    </div>
    @*<div class="layui-row">

                <div class="layui-form-item">
                    <label class="layui-form-label required">旧密码</label>
                    <div class="layui-inline">
                        <input type="password" name="oldpassword" placeholder="请输入"
                               class="layui-input layui-form-danger " />
                    </div>
                </div>
        </div>*@
    <div class="layui-row">

        <div class="layui-form-item">
            <label class="layui-form-label required">新密码</label>
            <div class="layui-inline">
                <input type="password" name="newpassword" placeholder="请输入"
                       class="layui-input layui-form-danger " />
            </div>
        </div>
    </div>
</form>